<%-# Include this in the body -%>
<%- if !@program.nil? and !@program.facebook_app_id.blank? -%>
  <div id="fb-root"></div>
  <script type="text/javascript">
    window.fbAsyncInit = function() {
      FB.init({
        appId: '<%= @program.facebook_app_id %>',
        status: true,
        cookie: true,
        xfbml: true
      });
      FB.Canvas.setSize();
      if (typeof(fbAfterInit) !== "undefined")
        fbAfterInit();

      FB.getLoginStatus(function(response) {
        if (response.status === "connected") {
          if (typeof(fbUserConnected) !== "undefined")
            fbUserConnected();
        }
        else if (response.status === "not_authorized") {
          if (typeof(fbUserNotAuthorized) !== "undefined")
            fbUserNotAuthorized();
        }
        else {
          if (typeof(fbUserNotConnected) !== "undefined")
            fbUserNotConnected();
        }
      });
    };

    // Load the SDK Asynchronously
    (function(d){
       var js, id = 'facebook-jssdk'; if (d.getElementById(id)) {return;}
       js = d.createElement('script'); js.id = id; js.async = true;
       js.src = "//connect.facebook.net/en_US/all.js";
       d.getElementsByTagName('head')[0].appendChild(js);
     }(document));
  </script>
<%- end -%>
